<!DOCTYPE html>
<html>

<head>
    <title>Simple Weather Viewer (Webapp version)</title>

</head>

<body style="background-color:#93b3c1">
<br><br><br>
<h3>Weather Viewer
</h3>
<form action="/zip_search" method="POST">
        <p>Search by Zipcode:<input type="text" placeholder="ZipCode" name="searchZipCode" />
            <br>
            <input type ="radio" id ="Celsius" name = "degrees_of_choice" value="celsius">
            <label for="Celsius"/>Celsius
            <input type ="radio" id = "Fahrenheit" name ="degrees_of_choice" value ="fahrenheit">
            <label for = "Fahrenheit"/>Fahrenheit
            <br>
            <input type="submit" value="Submit" /></p>
</form>
</body>


</html>